.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(210, 45, 253, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  --s: 0.1em;
  --c: #ffffff;

  color: #0000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  text-align: center;
  font-family: system-ui, sans-serif;
  font-size: 5rem;
  cursor: pointer;
}
h1:hover {
  --_p: 100%;
}

.edt,
.sv,
.add-btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  margin-left: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.edt,
.sv,
.add-btn {
  background: rgb(180, 87, 208);
  box-shadow: 0 0 25px rgb(180, 87, 208);
}

.edt:hover,
.sv:hover,
.add-btn:hover {
  box-shadow: 0 0 5px rgb(180, 87, 208), 0 0 25px rgb(180, 87, 208),
    0 0 50px rgb(180, 87, 208), 0 0 100px rgb(180, 87, 208);
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 10px double rgb(200, 142, 203);
  border-radius: 4px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 20px;
}
.task-container {
  margin-top: 20px;
}

.task {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.task input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(253, 253, 253);
  font-weight: bold;
  gap: 20px;
}

.filter label {
  margin-right: 10px;
}

.filter select {
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-list {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
